<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125221750485-msrep6078hn13qu2f4vslnm725ff921b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125221750485-msrep6078hn13qu2f4vslnm725ff921b</string>
	<key>API_KEY</key>
	<string>AIzaSyAAwUyYDmQM8j6n4b0KTj9nqvpgOHn-GKI</string>
	<key>GCM_SENDER_ID</key>
	<string>125221750485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warai.SecretNotes</string>
	<key>PROJECT_ID</key>
	<string>secret-notes-9029b</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-notes-9029b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125221750485:ios:51b9788124829cce6fc45c</string>
	<key>DATABASE_URL</key>
	<string>https://secret-notes-9029b.firebaseio.com</string>
</dict>
</plist>